:root {
    --primary-color: #F4CE01;
    --secondary-color: #0F0F0B;
}

.janelaTodo{
    width: 20%;
    min-height: 400px;
    background-color: #F4CE01;
    border-radius: 8px;
}

.todo {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.todo__title {
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    font-size: 16px;
    color: var(--primary-color);
    border-radius: 8px;
}

.todo__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.todo__item{
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    box-shadow: 1px 1px 5px var(--secondary-color);
}
.todo__item > div {
    width: 80%;
}
.todo__item:hover {
    cursor: pointer;
    transition: all .5s ease;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


.todo__item > input[type='text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.todo__item > input[type='button'],
.todo__item > input[type='checkbox'] {
    width: 20px;
    height: 15px;
    font:bold;
    margin-right: 8px;
}


.todo__item > input[type='checkbox']:checked  + div {
    text-decoration:line-through;
}

.todo__new-item{
    display: flex;
    background-color: #fff59d;
    width: 100%;
    height: 30px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--secondary-color);
    margin: 10px;
    font: inherit;
    border-radius: 4px;
}

.todo__new-item > input{
    background-color: #fff59d;
    border: none;
    width: 80%;
    outline: none;
    font: inherit;
}

.todo__new-item > input::placeholder {
    font-style: italic;
    font-weight: normal;
}
